<% layout('/layouts/boilerplate') -%>

<style>
  
 .icon{
    display:flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content:space-evenly;
 } 

.card{
    
    margin-bottom:2rem !important;
    height: 20rem !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit:cover !important;

}
.card-body{
    padding:0 !important;     
}
.card-text p{

    font-weight:500!important;
  
    

}
.listing-link{
    text-decoration:none;
}
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color:white;
}

</style>

<div class="icon">
<div class="card row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3" style="width: 18rem;">
    <img src="https://png.pngtree.com/png-vector/20200609/ourlarge/pngtree-cartoon-hand-drawn-business-404-error-illustration-png-image_2220254.jpg" class="card-img-top" alt="LOADING IMG">
    <div class="card-body">
      <p class="card-text px-4 mt-3" style="width: 18rem;">listings is under progress</p>
    </div>
  </div>
<div class="card row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3" style="width: 18rem;">
    <img src="https://png.pngtree.com/png-vector/20200609/ourlarge/pngtree-cartoon-hand-drawn-business-404-error-illustration-png-image_2220254.jpg" class="card-img-top" alt="LOADING IMG">
    <div class="card-body">
      <p class="card-text px-4 mt-3" style="width: 18rem;">listings is under progress</p>
    </div>
  </div>
<div class="card row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3" style="width: 18rem;">
    <img src="https://png.pngtree.com/png-vector/20200609/ourlarge/pngtree-cartoon-hand-drawn-business-404-error-illustration-png-image_2220254.jpg" class="card-img-top" alt="LOADING IMG">
    <div class="card-body">
      <p class="card-text px-4 mt-3" style="width: 18rem;">listings is under progress</p>
    </div>
  </div>
<div class="card row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3" style="width: 18rem;">
    <img src="https://png.pngtree.com/png-vector/20200609/ourlarge/pngtree-cartoon-hand-drawn-business-404-error-illustration-png-image_2220254.jpg" class="card-img-top" alt="LOADING IMG">
    <div class="card-body">
      <p class="card-text px-4 mt-3" style="width: 18rem;">listings is under progress</p>
    </div>
  </div>
  </div>